In [66]:
#load libraries
import pandas as pd
import os as os
import numpy as np
import re
pd.set_option('display.max_columns', 300)
pd.set_option('display.max_rows', 300)

## Crawled database from https://www.henleypassportindex.com

In [2]:
df_visa_free = pd.read_csv('henley_visa_free_11_01_2019.csv', encoding = "ISO-8859-1")

In [3]:
df_visa_free.rename(columns={'passport': 'passportfrom_alpha_2code'}, inplace=True)
df_visa_free.rename(columns={'to': 'countryto_alpha_2code'}, inplace=True)

In [4]:
df_visa_free.shape

(45173, 3)

In [5]:
df_visa_free['passportfrom_alpha_2code'].nunique()

198

In [6]:
df_visa_free['countryto_alpha_2code'].nunique()

226

In [7]:
df_visa_free.head(5)

  passportfrom_alpha_2code countryto_alpha_2code  visafree
0                       AM                    AF         0
1                       AM                    AL         1
2                       AM                    DZ         0
3                       AM                    AS         0
4                       AM                    AD         0

## List of world countries with codes
### Source Wikipedia https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes
### Scrapped by Juanu https://www.kaggle.com/juanumusic/countries-iso-codes

In [8]:
df_iso = pd.read_csv('wikipedia-iso-country-codes.csv', encoding = "ISO-8859-1")

In [9]:
df_iso.rename(columns={'Alpha-2 code': 'country_alpha_2code'}, inplace=True)
df_iso.rename(columns={'Alpha-3 code': 'country_alpha_3code'}, inplace=True)
df_iso.rename(columns={'Numeric code': 'country_numeric_code'}, inplace=True)

In [10]:
df_iso.shape

(246, 4)

In [11]:
df_iso.sample(5)

,Country name,country_alpha_2code,country_alpha_3code,country_numeric_code
42,Chad,TD,TCD,148
64,El Salvador,SV,SLV,222
170,Papua New Guinea,PG,PNG,598
19,Barbados,BB,BRB,52
85,Grenada,GD,GRD,308

## GDP per countries in USD, 2016, from the United Nations
### Source: https://datacatalog.worldbank.org/dataset/gdp-ranking

In [12]:
df_GDP_UN = pd.read_csv('UN_GDP_2016_millions.csv', encoding = "ISO-8859-1")

In [13]:
df_GDP_UN.rename(columns={'countryCode': 'country_numeric_code'}, inplace=True)
df_GDP_UN.rename(columns={'countryName': 'UN_GDP_countryName'}, inplace=True)
df_GDP_UN.rename(columns={'passport_numeric_code': 'countryto_passport_numeric_code'}, inplace=True)

In [14]:
df_GDP_UN = df_GDP_UN.drop(['UN_GDP_countryName'], axis=1)

In [15]:
df_GDP_UN['UN_GDP_currentPrices2016'] = df_GDP_UN['UN_GDP_currentPrices2016'].str.replace(',', '')
df_GDP_UN['UN_GDP_currentPrices2016'] = df_GDP_UN['UN_GDP_currentPrices2016'].astype(int)

In [16]:
df_GDP_UN.shape

(212, 2)

In [17]:
df_GDP_UN.sample(5)

     country_numeric_code  UN_GDP_currentPrices2016
182                   752                    514476
95                    388                     14057
13                     44                     11262
186                   764                    407026
59                    214                     71584

## Population per countries in millions, 2015, from the United Nations
### Source: http://data.un.org/_Docs/SYB/CSV/SYB61_T02_Population,%20Surface%20Area%20and%20Density.csv

In [18]:
df_population_UN = pd.read_csv('UN_population_2015_millions.csv', encoding = "ISO-8859-1")

In [19]:
df_population_UN.rename(columns={'countryCode': 'country_numeric_code'}, inplace=True)
df_population_UN.rename(columns={'countryName': 'UN_population_countryName'}, inplace=True)

In [20]:
df_population_UN['UN_population_Value_2015_millions'] = df_population_UN['UN_population_Value_2015_millions'].str.replace(',', '')
df_population_UN['UN_population_Value_2015_millions'] = df_population_UN['UN_population_Value_2015_millions'].astype(float)

In [21]:
df_population_UN.shape

(228, 3)

In [22]:
df_population_UN.sample(5)

,country_numeric_code,UN_population_countryName,UN_population_Value_2015_millions
141,524,Nepal,28.66
74,254,French Guiana,0.27
49,188,Costa Rica,4.81
112,428,Latvia,1.99
193,740,Suriname,0.55

## Surface per countries in thousand of km2, from the United Nations
### http://data.un.org/_Docs/SYB/CSV/SYB61_T02_Population,%20Surface%20Area%20and%20Density.csv

In [23]:
df_surface_UN = pd.read_csv('UN_surface_areas.csv', encoding = "ISO-8859-1")

In [24]:
df_surface_UN.rename(columns={'countryCode': 'country_numeric_code'}, inplace=True)
df_surface_UN.rename(columns={'countryName': 'UN_surface_countryName'}, inplace=True)

In [25]:
df_surface_UN['Surface area (thousand km2)'] = df_surface_UN['Surface area (thousand km2)'].str.replace(',', '')
df_surface_UN['Surface area (thousand km2)'] = df_surface_UN['Surface area (thousand km2)'].astype(float)

In [26]:
df_surface_UN.shape

(229, 4)

In [27]:
df_surface_UN.sample(5)

,country_numeric_code,UN_surface_countryName,Surface area (thousand km2),Year_Surface area
141,516,Namibia,824.0,2015
84,304,Greenland,2166.0,2015
90,624,Guinea-Bissau,36.0,2015
151,580,Northern Mariana Islands,0.0,2015
107,400,Jordan,89.0,2015

## Intersect df_visa_free and df_iso on 'country to'

In [28]:
# copy df_visa_free, rename the columns from centadata and hauntedhouse
df_visa_free2 = df_visa_free.copy()

In [29]:
df_visa_free2.rename(columns={'countryto_alpha_2code': 'country_alpha_2code'}, inplace=True)

In [30]:
# Intersect on 'countryto_alpha_2code'
df = pd.merge(df_visa_free2, df_iso, on=['country_alpha_2code'], how='left')

In [31]:
df.rename(columns={'country_alpha_2code': 'countryto_alpha_2code'}, inplace=True)
df.rename(columns={'Country name': 'countryto_Country name'}, inplace=True)
df.rename(columns={'country_alpha_3code': 'countryto_country_alpha_3code'}, inplace=True)
df.rename(columns={'country_numeric_code': 'countryto_country_numeric_code'}, inplace=True)

In [32]:
df.sample(10)

,passportfrom_alpha_2code,countryto_alpha_2code,visafree,countryto_Country name,countryto_country_alpha_3code,countryto_country_numeric_code
35573,CO,BW,0,Botswana,BWA,72.0
5383,VU,FJ,1,Fiji,FJI,242.0
8040,ZA,AS,0,American Samoa,ASM,16.0
43584,AT,NE,0,Niger,NER,562.0
19472,NZ,GE,1,Georgia,GEO,268.0
25774,MW,IE,0,Ireland,IRL,372.0
38902,KH,GT,0,Guatemala,GTM,320.0
35619,CL,CG,0,Congo,COG,178.0
37777,EE,JO,1,Jordan,JOR,400.0
2001,MC,BF,0,Burkina Faso,BFA,854.0

## Intersect df_visa_free and df_iso on 'passport'

In [33]:
df_iso.rename(columns={'country_alpha_2code': 'passportfrom_alpha_2code'}, inplace=True)

In [34]:
# Intersect on 'passportfrom_alpha_2code'
df = pd.merge(df, df_iso, on=['passportfrom_alpha_2code'], how='right')

In [35]:
df_iso.rename(columns={'passportfrom_alpha_2code': 'country_alpha_2code'}, inplace=True)

In [36]:
df.rename(columns={'Country name': 'passportfrom_Country name'}, inplace=True)

In [37]:
df = df.drop(['country_alpha_3code'], axis=1)
df = df.drop(['country_numeric_code'], axis=1)

## Intersect df and df_GDP_UN

In [38]:
df_GDP_UN2 = df_GDP_UN.copy()
df_GDP_UN2.rename(columns={'country_numeric_code': 'countryto_country_numeric_code'}, inplace=True)

In [39]:
df2 = pd.merge(df, df_GDP_UN2, on=['countryto_country_numeric_code'], how='right')

In [40]:
df2.rename(columns={'UN_GDP_currentPrices2016': 'countryto_UN_GDP_currentPrices2016'}, inplace=True)

In [41]:
df2.sample(10)

,passportfrom_alpha_2code,countryto_alpha_2code,visafree,countryto_Country name,countryto_country_alpha_3code,countryto_country_numeric_code,passportfrom_Country name,countryto_UN_GDP_currentPrices2016
17128,BJ,ID,1.0,Indonesia,IDN,360.0,Benin,932259
17759,GB,IL,1.0,Israel,ISR,376.0,United Kingdom,317748
38574,FJ,AE,0.0,United Arab Emirates,ARE,784.0,Fiji,348744
18010,OM,IT,0.0,Italy,ITA,380.0,Oman,1858913
30968,TO,WS,1.0,Samoa,WSM,882.0,Tonga,822
32547,TZ,SG,1.0,Singapore,SGP,702.0,"Tanzania, United Republic of",296946
20808,KI,LY,0.0,Libyan Arab Jamahiriya,LBY,434.0,Kiribati,42960
36877,TT,TT,0.0,Trinidad and Tobago,TTO,780.0,Trinidad and Tobago,24086
27615,TG,NO,0.0,Norway,NOR,578.0,Togo,371069
20767,PK,LY,0.0,Libyan Arab Jamahiriya,LBY,434.0,Pakistan,42960

## Intersect df2 and df_population_UN

In [42]:
df_population_UN2 = df_population_UN.copy()
df_population_UN2.rename(columns={'country_numeric_code': 'countryto_country_numeric_code'}, inplace=True)

In [43]:
df3 = pd.merge(df2, df_population_UN2, on=['countryto_country_numeric_code'], how='right')

In [44]:
df3 = df3.drop(['UN_population_countryName'], axis=1)

In [45]:
df3.rename(columns={'UN_population_Value_2015_millions': 'countryto_UN_population_Value_2015_millions'}, inplace=True)

In [46]:
df3.sample(10)

,passportfrom_alpha_2code,countryto_alpha_2code,visafree,countryto_Country name,countryto_country_alpha_3code,countryto_country_numeric_code,passportfrom_Country name,countryto_UN_GDP_currentPrices2016,countryto_UN_population_Value_2015_millions
31956,TZ,SC,1.0,Seychelles,SYC,690.0,"Tanzania, United Republic of",1434.0,0.09
5066,HT,BW,0.0,Botswana,BWA,72.0,Haiti,15566.0,2.21
14241,ZA,GH,1.0,Ghana,GHA,288.0,South Africa,42794.0,27.58
25307,NP,MM,0.0,Myanmar,MMR,104.0,Nepal,65698.0,52.40
29909,DO,PR,0.0,Puerto Rico,PRI,630.0,Dominican Republic,105035.0,3.67
28005,UY,PW,1.0,Palau,PLW,585.0,Uruguay,310.0,0.02
28132,FI,PW,1.0,Palau,PLW,585.0,Finland,310.0,0.02
23237,BE,MR,1.0,Mauritania,MRT,478.0,Belgium,4667.0,4.18
28781,ZM,PY,0.0,Paraguay,PRY,600.0,Zambia,27165.0,6.64
24024,BZ,MD,0.0,"Moldova, Republic of",MDA,498.0,Belize,6773.0,4.07

## Intersect df3 and df_surface_UN

In [47]:
df_surface_UN2 = df_surface_UN.copy()
df_surface_UN2.rename(columns={'country_numeric_code': 'countryto_country_numeric_code'}, inplace=True)

In [48]:
df4 = pd.merge(df3, df_surface_UN2, on=['countryto_country_numeric_code'], how='right')

In [49]:
df4 = df4.drop(['UN_surface_countryName'], axis=1)

In [50]:
df4.rename(columns={'Surface area (thousand km2)': 'countryto_Surface area (thousand km2)'}, inplace=True)
df4.rename(columns={'Year_Surface area': 'countryto_Year_Surface area'}, inplace=True)

In [51]:
df4.sample(5)

,passportfrom_alpha_2code,countryto_alpha_2code,visafree,countryto_Country name,countryto_country_alpha_3code,countryto_country_numeric_code,passportfrom_Country name,countryto_UN_GDP_currentPrices2016,countryto_UN_population_Value_2015_millions,countryto_Surface area (thousand km2),countryto_Year_Surface area
17129,BZ,ID,1.0,Indonesia,IDN,360.0,Belize,932259.0,258.16,1911.0,2015
38267,SR,AE,0.0,United Arab Emirates,ARE,784.0,Suriname,348744.0,9.15,84.0,2015
5632,LU,BN,1.0,Brunei Darussalam,BRN,96.0,Luxembourg,11400.0,0.42,6.0,2015
1794,YE,AW,0.0,Aruba,ABW,533.0,Yemen,2667.0,0.10,0.0,2015
17415,PG,IQ,0.0,Iraq,IRQ,368.0,Papua New Guinea,160021.0,36.12,435.0,2015

## Reorder the columns

In [52]:
cols = df4.columns.tolist()
cols

['passportfrom_alpha_2code',
 'countryto_alpha_2code',
 'visafree',
 'countryto_Country name',
 'countryto_country_alpha_3code',
 'countryto_country_numeric_code',
 'passportfrom_Country name',
 'countryto_UN_GDP_currentPrices2016',
 'countryto_UN_population_Value_2015_millions',
 'countryto_Surface area (thousand km2)',
 'countryto_Year_Surface area']

In [53]:
df4 = df4[['passportfrom_alpha_2code','passportfrom_Country name','countryto_alpha_2code','countryto_Country name',
  'countryto_country_alpha_3code',
 'countryto_country_numeric_code','countryto_UN_GDP_currentPrices2016',
 'countryto_UN_population_Value_2015_millions',
 'countryto_Surface area (thousand km2)',
 'countryto_Year_Surface area','visafree']]

In [54]:
df4.head()

,passportfrom_alpha_2code,passportfrom_Country name,countryto_alpha_2code,countryto_Country name,countryto_country_alpha_3code,countryto_country_numeric_code,countryto_UN_GDP_currentPrices2016,countryto_UN_population_Value_2015_millions,countryto_Surface area (thousand km2),countryto_Year_Surface area,visafree
0,AM,Armenia,AF,Afghanistan,AFG,4.0,20235.0,33.74,653.0,2015,0.0
1,AG,Antigua and Barbuda,AF,Afghanistan,AFG,4.0,20235.0,33.74,653.0,2015,0.0
2,AO,Angola,AF,Afghanistan,AFG,4.0,20235.0,33.74,653.0,2015,0.0
3,AR,Argentina,AF,Afghanistan,AFG,4.0,20235.0,33.74,653.0,2015,0.0
4,DZ,Algeria,AF,Afghanistan,AFG,4.0,20235.0,33.74,653.0,2015,0.0

## Check data types

In [55]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40409 entries, 0 to 40408
Data columns (total 11 columns):
passportfrom_alpha_2code                       40180 non-null object
passportfrom_Country name                      40385 non-null object
countryto_alpha_2code                          40188 non-null object
countryto_Country name                         40385 non-null object
countryto_country_alpha_3code                  40385 non-null object
countryto_country_numeric_code                 40409 non-null float64
countryto_UN_GDP_currentPrices2016             40388 non-null float64
countryto_UN_population_Value_2015_millions    40408 non-null float64
countryto_Surface area (thousand km2)          40409 non-null float64
countryto_Year_Surface area                    40409 non-null int64
visafree                                       40385 non-null float64
dtypes: float64(5), int64(1), object(5)
memory usage: 3.7+ MB

## Pandas pivot_table

In [56]:
df_pivot = pd.pivot_table(df4[df4.visafree == 1],index='passportfrom_Country name',values=['countryto_UN_GDP_currentPrices2016','countryto_UN_population_Value_2015_millions','countryto_Surface area (thousand km2)','visafree'], aggfunc=np.sum, margins=False,dropna=True)
df_pivot.sort_values('visafree', ascending=False)

,countryto_Surface area (thousand km2),countryto_UN_GDP_currentPrices2016,countryto_UN_population_Value_2015_millions,visafree
passportfrom_Country name,,,,
Japan,86556.0,64790088.0,5922.04,171.0
"Korea, Republic of (South Korea)",100204.0,55180294.0,4825.28,170.0
Singapore,90882.0,63845672.0,4744.92,170.0
France,79589.0,50540613.0,3312.55,168.0
Germany,80899.0,49471652.0,3267.30,168.0
Sweden,79253.0,52423812.0,3336.27,167.0
Finland,79354.0,52699785.0,3340.55,167.0
Denmark,79649.0,52631388.0,3340.34,167.0
Italy,79390.0,51079375.0,3286.53,167.0
Luxembourg,79358.0,52674381.0,3251.89,166.0
Spain,78402.0,50837321.0,3221.36,166.0
Portugal,78485.0,51664463.0,3163.77,165.0
Austria,78493.0,51478500.0,3165.51,165.0
Netherlands,78535.0,51092072.0,3157.25,165.0
Norway,78254.0,51689644.0,3260.63,165.0
Switzerland,79052.0,52050298.0,3242.21,165.0
United States Of America,59901.0,30755768.0,2546.49,165.0
United Kingdom,77037.0,49001274.0,3123.00,165.0
Ireland,78343.0,51561203.0,3168.94,164.0
Greece,78375.0,52527133.0,3236.64,164.0
Canada,60011.0,48129371.0,2855.90,164.0
Belgium,78520.0,51392871.0,3151.27,164.0
Czech Republic,70551.0,51218860.0,3214.86,163.0
Malta,76434.0,51773602.0,3070.69,162.0
Malaysia,62065.0,32208534.0,2903.32,161.0
Iceland,77642.0,52620282.0,3147.98,161.0
New Zealand,76835.0,52139301.0,3145.22,161.0
Australia,61600.0,48672020.0,2899.02,161.0
Hungary,69403.0,51215792.0,3113.64,161.0
Slovenia,68255.0,51001460.0,3066.06,160.0
...,...,...,...,...
Haiti,16669.0,5906858.0,1254.68,49.0
Angola,15505.0,3238540.0,1105.37,48.0
Egypt,13187.0,2669029.0,858.46,48.0
Central African Republic,11674.0,2281565.0,841.99,48.0
Jordan,15202.0,3742191.0,983.32,48.0
Cameroon,13924.0,2192162.0,919.70,47.0
Liberia,14278.0,3634074.0,1029.05,46.0
Congo,15983.0,2020403.0,932.59,46.0
Nigeria,13836.0,957327.0,556.10,46.0
Burundi,15567.0,2861695.0,1119.25,45.0
Myanmar,12947.0,3217596.0,1017.73,45.0
Djibouti,10952.0,2290806.0,847.49,44.0
Sri Lanka,8299.0,1638153.0,567.25,42.0
"Congo, the Democratic Republic of the",11415.0,1807719.0,786.23,42.0
Iran,10018.0,2335742.0,554.14,41.0
"Korea, Democratic People's Republic of",11103.0,1396572.0,761.18,41.0
Libyan Arab Jamahiriya,14032.0,2492266.0,836.46,40.0
Bangladesh,7562.0,1306592.0,533.75,40.0
Ethiopia,9334.0,2122481.0,740.88,40.0
Lebanon,11264.0,3287752.0,778.82,40.0
Nepal,14385.0,4964386.0,2448.87,39.0
Sudan,9491.0,1501443.0,658.33,38.0
"Palestinian Territory, Occupied",10392.0,2912377.0,791.16,38.0
Eritrea,8660.0,1651353.0,649.90,36.0
Yemen,7210.0,839152.0,373.84,35.0
Pakistan,6603.0,470563.0,317.22,32.0
Somalia,5311.0,892160.0,400.71,31.0
Syrian Arab Republic,8408.0,1121990.0,381.17,30.0
Iraq,6317.0,752535.0,295.60,29.0
Afghanistan,5233.0,440912.0,360.17,29.0

In [58]:
df_pivot

,countryto_Surface area (thousand km2),countryto_UN_GDP_currentPrices2016,countryto_UN_population_Value_2015_millions,visafree
passportfrom_Country name,,,,
Afghanistan,5233.0,440912.0,360.17,29.0
Albania,32007.0,23039214.0,1985.87,104.0
Algeria,14779.0,2903233.0,936.58,49.0
Andorra,73672.0,52441052.0,3130.15,149.0
Angola,15505.0,3238540.0,1105.37,48.0
Antigua and Barbuda,38165.0,26820347.0,2320.16,137.0
Argentina,66797.0,31736977.0,2957.13,155.0
Armenia,45208.0,6979278.0,1432.70,60.0
Australia,61600.0,48672020.0,2899.02,161.0
Austria,78493.0,51478500.0,3165.51,165.0
Azerbaijan,35018.0,5469068.0,1276.64,65.0
Bahamas,57989.0,40804763.0,3796.11,140.0
Bahrain,20308.0,7702166.0,1535.63,79.0
Bangladesh,7562.0,1306592.0,533.75,40.0
Barbados,61191.0,41415780.0,3807.99,145.0
Belarus,61245.0,20372662.0,3191.17,76.0
Belgium,78520.0,51392871.0,3151.27,164.0
Belize,31777.0,12282125.0,1833.22,93.0
Benin,20236.0,4356385.0,1445.46,60.0
Bhutan,15409.0,4336150.0,1265.97,54.0
Bolivia,48457.0,10332994.0,1850.62,74.0
Bosnia and Herzegovina,59047.0,35374125.0,3483.98,107.0
Botswana,17364.0,7381429.0,1296.66,77.0
Brazil,61773.0,30284544.0,2640.20,158.0
Brunei Darussalam,83974.0,60303836.0,4235.92,146.0
Bulgaria,57867.0,32240257.0,2717.30,153.0
Burkina Faso,18299.0,3666606.0,1322.89,56.0
Burundi,15567.0,2861695.0,1119.25,45.0
Cambodia,14939.0,4180482.0,1341.28,52.0
Cameroon,13924.0,2192162.0,919.70,47.0
...,...,...,...,...
Suriname,28572.0,8766146.0,1605.33,75.0
Swaziland,16172.0,6015694.0,1218.11,70.0
Sweden,79253.0,52423812.0,3336.27,167.0
Switzerland,79052.0,52050298.0,3242.21,165.0
Syrian Arab Republic,8408.0,1121990.0,381.17,30.0
Taiwan,64357.0,57516358.0,3867.02,131.0
Tajikistan,33844.0,5308642.0,1301.33,57.0
"Tanzania, United Republic of",17523.0,3822116.0,1201.14,66.0
Thailand,49446.0,9760242.0,1756.44,72.0
Timor-Leste,19713.0,20689343.0,1567.38,91.0
Togo,18057.0,3605957.0,1341.23,54.0
Tonga,34628.0,35329849.0,3324.13,118.0
Trinidad and Tobago,43614.0,29445272.0,2699.23,135.0
Tunisia,29963.0,7534738.0,1445.75,64.0
Turkey,41819.0,11707593.0,2071.54,106.0
Turkmenistan,13185.0,3746458.0,1092.77,52.0
Tuvalu,24283.0,22974202.0,1856.17,120.0
Uganda,13841.0,3424114.0,1067.93,62.0
Ukraine,60350.0,25837612.0,2428.92,125.0
United Arab Emirates,70531.0,42199208.0,4090.71,151.0
United Kingdom,77037.0,49001274.0,3123.00,165.0
United States Of America,59901.0,30755768.0,2546.49,165.0
Uruguay,61799.0,31355883.0,2709.68,139.0
Uzbekistan,34495.0,5504347.0,1233.55,57.0
Vanuatu,41514.0,23542904.0,1971.57,123.0
Venezuela,59538.0,27118206.0,2551.40,127.0
Vietnam,14567.0,3694692.0,1028.85,49.0
Yemen,7210.0,839152.0,373.84,35.0
Zambia,16311.0,3933123.0,1178.14,67.0
Zimbabwe,18949.0,3969636.0,1231.96,63.0

In [60]:
df_pivot_flattened = pd.DataFrame(df_pivot.to_records())
df_pivot_flattened

,passportfrom_Country name,countryto_Surface area (thousand km2),countryto_UN_GDP_currentPrices2016,countryto_UN_population_Value_2015_millions,visafree
0,Afghanistan,5233.0,440912.0,360.17,29.0
1,Albania,32007.0,23039214.0,1985.87,104.0
2,Algeria,14779.0,2903233.0,936.58,49.0
3,Andorra,73672.0,52441052.0,3130.15,149.0
4,Angola,15505.0,3238540.0,1105.37,48.0
5,Antigua and Barbuda,38165.0,26820347.0,2320.16,137.0
6,Argentina,66797.0,31736977.0,2957.13,155.0
7,Armenia,45208.0,6979278.0,1432.70,60.0
8,Australia,61600.0,48672020.0,2899.02,161.0
9,Austria,78493.0,51478500.0,3165.51,165.0
10,Azerbaijan,35018.0,5469068.0,1276.64,65.0
11,Bahamas,57989.0,40804763.0,3796.11,140.0
12,Bahrain,20308.0,7702166.0,1535.63,79.0
13,Bangladesh,7562.0,1306592.0,533.75,40.0
14,Barbados,61191.0,41415780.0,3807.99,145.0
15,Belarus,61245.0,20372662.0,3191.17,76.0
16,Belgium,78520.0,51392871.0,3151.27,164.0
17,Belize,31777.0,12282125.0,1833.22,93.0
18,Benin,20236.0,4356385.0,1445.46,60.0
19,Bhutan,15409.0,4336150.0,1265.97,54.0
20,Bolivia,48457.0,10332994.0,1850.62,74.0
21,Bosnia and Herzegovina,59047.0,35374125.0,3483.98,107.0
22,Botswana,17364.0,7381429.0,1296.66,77.0
23,Brazil,61773.0,30284544.0,2640.20,158.0
24,Brunei Darussalam,83974.0,60303836.0,4235.92,146.0
25,Bulgaria,57867.0,32240257.0,2717.30,153.0
26,Burkina Faso,18299.0,3666606.0,1322.89,56.0
27,Burundi,15567.0,2861695.0,1119.25,45.0
28,Cambodia,14939.0,4180482.0,1341.28,52.0
29,Cameroon,13924.0,2192162.0,919.70,47.0
...,...,...,...,...,...
167,Suriname,28572.0,8766146.0,1605.33,75.0
168,Swaziland,16172.0,6015694.0,1218.11,70.0
169,Sweden,79253.0,52423812.0,3336.27,167.0
170,Switzerland,79052.0,52050298.0,3242.21,165.0
171,Syrian Arab Republic,8408.0,1121990.0,381.17,30.0
172,Taiwan,64357.0,57516358.0,3867.02,131.0
173,Tajikistan,33844.0,5308642.0,1301.33,57.0
174,"Tanzania, United Republic of",17523.0,3822116.0,1201.14,66.0
175,Thailand,49446.0,9760242.0,1756.44,72.0
176,Timor-Leste,19713.0,20689343.0,1567.38,91.0
177,Togo,18057.0,3605957.0,1341.23,54.0
178,Tonga,34628.0,35329849.0,3324.13,118.0
179,Trinidad and Tobago,43614.0,29445272.0,2699.23,135.0
180,Tunisia,29963.0,7534738.0,1445.75,64.0
181,Turkey,41819.0,11707593.0,2071.54,106.0
182,Turkmenistan,13185.0,3746458.0,1092.77,52.0
183,Tuvalu,24283.0,22974202.0,1856.17,120.0
184,Uganda,13841.0,3424114.0,1067.93,62.0
185,Ukraine,60350.0,25837612.0,2428.92,125.0
186,United Arab Emirates,70531.0,42199208.0,4090.71,151.0
187,United Kingdom,77037.0,49001274.0,3123.00,165.0
188,United States Of America,59901.0,30755768.0,2546.49,165.0
189,Uruguay,61799.0,31355883.0,2709.68,139.0
190,Uzbekistan,34495.0,5504347.0,1233.55,57.0
191,Vanuatu,41514.0,23542904.0,1971.57,123.0
192,Venezuela,59538.0,27118206.0,2551.40,127.0
193,Vietnam,14567.0,3694692.0,1028.85,49.0
194,Yemen,7210.0,839152.0,373.84,35.0
195,Zambia,16311.0,3933123.0,1178.14,67.0
196,Zimbabwe,18949.0,3969636.0,1231.96,63.0

In [61]:
df_pivot_flattened['Surface_Rank'] = df_pivot_flattened['countryto_Surface area (thousand km2)'].rank(method='dense', ascending=False).astype(int)
df_pivot_flattened['GDP_Rank'] = df_pivot_flattened['countryto_UN_GDP_currentPrices2016'].rank(method='dense', ascending=False).astype(int)
df_pivot_flattened['Population_Rank'] = df_pivot_flattened['countryto_UN_population_Value_2015_millions'].rank(method='dense', ascending=False).astype(int)
df_pivot_flattened['visafree_countries_Rank'] = df_pivot_flattened['visafree'].rank(method='dense', ascending=False).astype(int)

In [62]:
df_pivot_flattened = df_pivot_flattened[['passportfrom_Country name',
                                         'visafree',
                                         'visafree_countries_Rank',
                                         'countryto_UN_GDP_currentPrices2016',
                                         'GDP_Rank',
                                         'countryto_Surface area (thousand km2)',
                                         'Surface_Rank',
                                         'countryto_UN_population_Value_2015_millions',
                                         'Population_Rank']]

In [67]:
df_pivot_flattened

,passportfrom_Country name,visafree,visafree_countries_Rank,countryto_UN_GDP_currentPrices2016,GDP_Rank,countryto_Surface area (thousand km2),Surface_Rank,countryto_UN_population_Value_2015_millions,Population_Rank
0,Afghanistan,29.0,104,440912.0,197,5233.0,196,360.17,195
1,Albania,104.0,52,23039214.0,90,32007.0,108,1985.87,96
2,Algeria,49.0,88,2903233.0,171,14779.0,162,936.58,172
3,Andorra,149.0,19,52441052.0,14,73672.0,30,3130.15,40
4,Angola,48.0,89,3238540.0,166,15505.0,156,1105.37,162
5,Antigua and Barbuda,137.0,27,26820347.0,80,38165.0,94,2320.16,82
6,Argentina,155.0,15,31736977.0,56,66797.0,41,2957.13,51
7,Armenia,60.0,79,6979278.0,120,45208.0,87,1432.70,121
8,Australia,161.0,10,48672020.0,38,61600.0,48,2899.02,55
9,Austria,165.0,6,51478500.0,23,78493.0,18,3165.51,33
10,Azerbaijan,65.0,74,5469068.0,130,35018.0,100,1276.64,139
11,Bahamas,140.0,24,40804763.0,45,57989.0,63,3796.11,10
12,Bahrain,79.0,62,7702166.0,115,20308.0,124,1535.63,113
13,Bangladesh,40.0,96,1306592.0,190,7562.0,191,533.75,191
14,Barbados,145.0,22,41415780.0,44,61191.0,50,3807.99,9
15,Belarus,76.0,64,20372662.0,98,61245.0,49,3191.17,31
16,Belgium,164.0,7,51392871.0,24,78520.0,17,3151.27,37
17,Belize,93.0,54,12282125.0,100,31777.0,109,1833.22,105
18,Benin,60.0,79,4356385.0,136,20236.0,125,1445.46,120
19,Bhutan,54.0,83,4336150.0,137,15409.0,157,1265.97,142
20,Bolivia,74.0,66,10332994.0,108,48457.0,82,1850.62,102
21,Bosnia and Herzegovina,107.0,50,35374125.0,50,59047.0,60,3483.98,13
22,Botswana,77.0,63,7381429.0,118,17364.0,141,1296.66,137
23,Brazil,158.0,13,30284544.0,64,61773.0,47,2640.20,65
24,Brunei Darussalam,146.0,21,60303836.0,4,83974.0,6,4235.92,5
25,Bulgaria,153.0,16,32240257.0,53,57867.0,64,2717.30,58
26,Burkina Faso,56.0,81,3666606.0,153,18299.0,134,1322.89,134
27,Burundi,45.0,92,2861695.0,172,15567.0,155,1119.25,159
28,Cambodia,52.0,85,4180482.0,139,14939.0,160,1341.28,129
29,Cameroon,47.0,90,2192162.0,182,13924.0,169,919.70,174
30,Canada,164.0,7,48129371.0,39,60011.0,53,2855.90,56
31,Cape Verde,64.0,75,4502832.0,135,20558.0,123,1494.00,115
32,Central African Republic,48.0,89,2281565.0,179,11674.0,179,841.99,178
33,Chad,52.0,85,3902997.0,144,16810.0,143,1291.33,138
34,Chile,155.0,15,52385478.0,16,85608.0,5,3302.11,21
35,China,72.0,67,4013410.0,140,18779.0,129,1363.14,127
36,Colombia,116.0,44,25374237.0,83,52760.0,75,2049.37,92
37,Comoros,51.0,86,3622137.0,157,13805.0,172,1139.18,158
38,Congo,46.0,91,2020403.0,184,15983.0,153,932.59,173
39,"Congo, the Democratic Republic of the",42.0,94,1807719.0,185,11415.0,180,786.23,182
40,Costa Rica,135.0,28,29764642.0,67,43295.0,89,2521.99,71
41,Cote d'Ivoire,55.0,82,3376749.0,163,18521.0,132,1341.43,128
42,Croatia,152.0,17,30974984.0,60,56623.0,67,2573.80,68
43,Cuba,64.0,75,4542798.0,134,34732.0,101,1220.54,149
44,Cyprus,156.0,14,31673905.0,57,58289.0,61,2692.63,62
45,Czech Republic,163.0,8,51218860.0,25,70551.0,32,3214.86,30
46,Denmark,167.0,4,52631388.0,9,79649.0,9,3340.34,17
47,Djibouti,44.0,93,2290806.0,178,10952.0,183,847.49,177
48,Dominica,126.0,35,27376468.0,77,51723.0,78,2271.42,86
49,Dominican Republic,62.0,77,6245559.0,123,17746.0,138,1338.03,131
50,Ecuador,89.0,56,23156759.0,89,63280.0,44,3379.38,15
51,Egypt,48.0,89,2669029.0,174,13187.0,174,858.46,176
52,El Salvador,122.0,39,28859956.0,71,53506.0,73,2398.25,76
53,Equatorial Guinea,50.0,87,2261113.0,181,12305.0,178,786.71,181
54,Eritrea,36.0,99,1651353.0,186,8660.0,188,649.90,187
55,Estonia,159.0,12,51021845.0,30,68219.0,37,3064.83,49
56,Ethiopia,40.0,96,2122481.0,183,9334.0,187,740.88,185
57,Fiji,87.0,58,22117071.0,94,57109.0,66,3272.00,23
58,Finland,167.0,4,52699785.0,7,79354.0,13,3340.55,16
59,France,168.0,3,50540613.0,35,79589.0,10,3312.55,20
60,Gabon,54.0,83,3895087.0,145,16708.0,145,1200.09,153
61,Gambia,67.0,72,3717251.0,150,17471.0,140,1368.75,125
62,Georgia,111.0,48,22455124.0,93,39127.0,93,2049.72,91
63,Germany,168.0,3,49471652.0,36,80899.0,8,3267.30,24
64,Ghana,62.0,77,3311079.0,164,16798.0,144,1269.68,141
65,Greece,164.0,7,52527133.0,12,78375.0,21,3236.64,28
66,Grenada,131.0,30,39379766.0,47,65259.0,42,3751.13,11
67,Guatemala,121.0,40,28681507.0,74,54922.0,70,2334.47,80
68,Guinea,55.0,82,3653606.0,154,16081.0,150,1212.44,151
69,Guinea-Bissau,51.0,86,2343858.0,176,14279.0,166,1049.45,165
70,Guyana,84.0,59,10567801.0,104,48217.0,83,1807.56,106
71,Haiti,49.0,88,5906858.0,127,16669.0,146,1254.68,144
72,Holy See (Vatican City State),138.0,26,28786781.0,73,58127.0,62,2384.71,77
73,Honduras,122.0,39,28828904.0,72,54325.0,72,2334.03,81
74,Hong Kong,152.0,17,34497705.0,52,88792.0,3,2920.14,52
75,Hungary,161.0,10,51215792.0,26,69403.0,34,3113.64,44
76,Iceland,161.0,10,52620282.0,10,77642.0,24,3147.98,38
77,India,60.0,79,2946515.0,169,15083.0,159,1042.42,166
78,Indonesia,70.0,69,6082687.0,124,28528.0,114,1301.85,135
79,Iran,41.0,95,2335742.0,177,10018.0,185,554.14,190
80,Iraq,29.0,104,752535.0,195,6317.0,194,295.60,197
81,Ireland,164.0,7,51561203.0,22,78343.0,22,3168.94,32
82,Israel,145.0,22,30351518.0,63,73048.0,31,2335.51,79
83,Italy,167.0,4,51079375.0,28,79390.0,11,3286.53,22
84,Jamaica,81.0,61,10502104.0,105,34349.0,104,1841.08,104
85,Japan,171.0,1,64790088.0,1,86556.0,4,5922.04,1
86,Jordan,48.0,89,3742191.0,149,15202.0,158,983.32,171
87,Kazakhstan,75.0,65,11040226.0,102,48565.0,81,1918.53,100
88,Kenya,68.0,71,3703229.0,151,18527.0,131,1271.89,140
89,Kiribati,117.0,43,23285382.0,88,24271.0,120,1843.17,103
90,"Korea, Democratic People's Republic of",41.0,95,1396572.0,189,11103.0,182,761.18,184
91,"Korea, Republic of (South Korea)",170.0,2,55180294.0,6,100204.0,1,4825.28,2
92,Kuwait,88.0,57,10408839.0,106,21774.0,122,1705.27,109
93,Kyrgyzstan,63.0,76,5641020.0,128,36481.0,97,1474.40,117
94,Lao People's Democratic Republic,50.0,87,5365781.0,131,33337.0,107,1485.53,116
95,Latvia,160.0,11,51018596.0,31,68210.0,38,3066.14,46
96,Lebanon,40.0,96,3287752.0,165,11264.0,181,778.82,183
97,Lesotho,71.0,68,5925683.0,126,16075.0,151,1241.35,146
98,Liberia,46.0,91,3634074.0,155,14278.0,167,1029.05,168
99,Libyan Arab Jamahiriya,40.0,96,2492266.0,175,14032.0,168,836.46,179
100,Liechtenstein,158.0,13,52496026.0,13,74979.0,29,3128.20,41
101,Lithuania,160.0,11,51003396.0,32,68210.0,38,3065.20,48
102,Luxembourg,166.0,5,52674381.0,8,79358.0,12,3251.89,26
103,Macao,129.0,32,30211408.0,65,59662.0,56,2620.13,67
104,"Macedonia, the former Yugoslav Republic of",112.0,47,22915674.0,92,36838.0,95,2070.42,90
105,Madagascar,52.0,85,3629292.0,156,13032.0,176,1113.34,161
106,Malawi,69.0,70,4221429.0,138,16053.0,152,1177.29,157
107,Malaysia,161.0,10,32208534.0,54,62065.0,45,2903.32,54
108,Maldives,82.0,60,10367940.0,107,21857.0,121,2917.86,53
109,Mali,54.0,83,3514032.0,161,18540.0,130,1324.68,132
110,Malta,162.0,9,51773602.0,19,76434.0,28,3070.69,45
111,Marshall Islands,114.0,46,43077658.0,41,36590.0,96,2345.42,78
112,Mauritania,57.0,80,3749519.0,147,17843.0,137,1188.17,154
113,Mauritius,131.0,30,36950963.0,48,55902.0,69,3398.04,14
114,Mexico,144.0,23,29506953.0,68,54659.0,71,2319.76,83
115,"Micronesia, Federated States of",111.0,48,42098461.0,43,34339.0,105,2048.67,93
116,"Moldova, Republic of",112.0,47,21205500.0,96,46770.0,84,1933.19,99
117,Monaco,155.0,15,52570555.0,11,76471.0,27,3124.42,42
118,Mongolia,60.0,79,9619751.0,110,45667.0,86,1666.43,110
119,Montenegro,112.0,47,24854725.0,86,52345.0,77,1987.38,95
120,Morocco,60.0,79,7335384.0,119,27735.0,115,1366.94,126
121,Mozambique,55.0,82,3581587.0,160,15667.0,154,1115.17,160
122,Myanmar,45.0,92,3217596.0,167,12947.0,177,1017.73,170
123,Namibia,71.0,68,8651065.0,113,25614.0,118,1505.74,114
124,Nauru,79.0,62,8599794.0,114,16550.0,147,1262.93,143
125,Nepal,39.0,97,4964386.0,133,14385.0,165,2448.87,73
126,Netherlands,165.0,6,51092072.0,27,78535.0,16,3157.25,36
127,New Zealand,161.0,10,52139301.0,17,76835.0,26,3145.22,39
128,Nicaragua,114.0,46,27554758.0,76,52484.0,76,2294.74,84
129,Niger,53.0,84,2777265.0,173,14656.0,163,1037.02,167
130,Nigeria,46.0,91,957327.0,192,13836.0,171,556.10,189
131,Norway,165.0,6,51689644.0,20,78254.0,23,3260.63,25
132,Oman,74.0,66,7488244.0,117,19607.0,127,1464.02,118
133,Pakistan,32.0,101,470563.0,196,6603.0,193,317.22,196
134,Palau,109.0,49,43172611.0,40,35374.0,99,2286.53,85
135,"Palestinian Territory, Occupied",38.0,98,2912377.0,170,10392.0,184,791.16,180
136,Panama,128.0,33,30068863.0,66,59125.0,59,2625.17,66
137,Papua New Guinea,77.0,63,9259008.0,111,27214.0,116,1429.49,123
138,Paraguay,129.0,32,30738033.0,62,60497.0,51,2685.42,63
139,Peru,130.0,31,28075232.0,75,59926.0,54,2643.80,64
140,Philippines,64.0,75,6415712.0,122,27185.0,117,1372.73,124
141,Poland,158.0,13,31344022.0,59,59496.0,58,2782.60,57
142,Portugal,165.0,6,51664463.0,21,78485.0,19,3163.77,34
143,Qatar,82.0,60,21494510.0,95,29206.0,112,2998.54,50
144,Romania,153.0,16,32106806.0,55,57740.0,65,2704.60,60
145,Russia,115.0,45,13367705.0,99,46083.0,85,2452.57,72
146,Rwanda,52.0,85,3032338.0,168,18394.0,133,1179.37,155
147,Saint Kitts and Nevis,137.0,27,29038372.0,70,56412.0,68,2426.89,75
148,Saint Lucia,131.0,30,25187625.0,84,30189.0,110,2034.80,94
149,Saint Vincent and the Grenadines,133.0,29,27101548.0,79,39261.0,92,2214.97,88
150,Samoa,122.0,39,26570222.0,81,53118.0,74,2246.50,87
151,San Marino,148.0,20,63583906.0,3,82694.0,7,4480.32,4
152,Sao Tome and Principe,56.0,81,4011094.0,141,14834.0,161,1247.52,145
153,Saudi Arabia,71.0,68,6650670.0,121,17176.0,142,1431.33,122
154,Senegal,55.0,82,3596121.0,159,18119.0,135,1324.22,133
155,Serbia,117.0,43,36450924.0,49,67025.0,39,3581.94,12
156,Seychelles,138.0,26,40179932.0,46,66923.0,40,4036.09,7
157,Sierra Leone,61.0,78,2277856.0,180,13656.0,173,905.12,175
158,Singapore,170.0,2,63845672.0,2,90882.0,2,4744.92,3
159,Slovakia,160.0,11,51025729.0,29,69319.0,35,3160.58,35
160,Slovenia,160.0,11,51001460.0,33,68255.0,36,3066.06,47
161,Solomon Islands,124.0,37,25167009.0,85,35390.0,98,1953.62,98
162,Somalia,31.0,102,892160.0,193,5311.0,195,400.71,192
163,South Africa,96.0,53,11023079.0,103,51582.0,79,1804.45,107
164,Spain,166.0,5,50837321.0,34,78402.0,20,3221.36,29
165,Sri Lanka,42.0,94,1638153.0,187,8299.0,190,567.25,188
166,Sudan,38.0,98,1501443.0,188,9491.0,186,658.33,186
167,Suriname,75.0,65,8766146.0,112,28572.0,113,1605.33,111
168,Swaziland,70.0,69,6015694.0,125,16172.0,149,1218.11,150
169,Sweden,167.0,4,52423812.0,15,79253.0,14,3336.27,18
170,Switzerland,165.0,6,52050298.0,18,79052.0,15,3242.21,27
171,Syrian Arab Republic,30.0,103,1121990.0,191,8408.0,189,381.17,193
172,Taiwan,131.0,30,57516358.0,5,64357.0,43,3867.02,8
173,Tajikistan,57.0,80,5308642.0,132,33844.0,106,1301.33,136
174,"Tanzania, United Republic of",66.0,73,3822116.0,146,17523.0,139,1201.14,152
175,Thailand,72.0,67,9760242.0,109,49446.0,80,1756.44,108
176,Timor-Leste,91.0,55,20689343.0,97,19713.0,126,1567.38,112
177,Togo,54.0,83,3605957.0,158,18057.0,136,1341.23,130
178,Tonga,118.0,42,35329849.0,51,34628.0,102,3324.13,19
179,Trinidad and Tobago,135.0,28,29445272.0,69,43614.0,88,2699.23,61
180,Tunisia,64.0,75,7534738.0,116,29963.0,111,1445.75,119
181,Turkey,106.0,51,11707593.0,101,41819.0,90,2071.54,89
182,Turkmenistan,52.0,85,3746458.0,148,13185.0,175,1092.77,163
183,Tuvalu,120.0,41,22974202.0,91,24283.0,119,1856.17,101
184,Uganda,62.0,77,3424114.0,162,13841.0,170,1067.93,164
185,Ukraine,125.0,36,25837612.0,82,60350.0,52,2428.92,74
186,United Arab Emirates,151.0,18,42199208.0,42,70531.0,33,4090.71,6
187,United Kingdom,165.0,6,49001274.0,37,77037.0,25,3123.00,43
188,United States Of America,165.0,6,30755768.0,61,59901.0,55,2546.49,70
189,Uruguay,139.0,25,31355883.0,58,61799.0,46,2709.68,59
190,Uzbekistan,57.0,80,5504347.0,129,34495.0,103,1233.55,147
191,Vanuatu,123.0,38,23542904.0,87,41514.0,91,1971.57,97
192,Venezuela,127.0,34,27118206.0,78,59538.0,57,2551.40,69
193,Vietnam,49.0,88,3694692.0,152,14567.0,164,1028.85,169
194,Yemen,35.0,100,839152.0,194,7210.0,192,373.84,194
195,Zambia,67.0,72,3933123.0,143,16311.0,148,1178.14,156
196,Zimbabwe,63.0,76,3969636.0,142,18949.0,128,1231.96,148